<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
</head>

.container {
  margin: 30px auto;
  width: 1500px;
  height: 1200px;
  font-family: 'Helvetica';
}
 
header {
  height: 100px;
  width: 100%;
  color: white;
}  

.logo img{
  float: left;
  width: 400px; 
  height: 350px;
  margin-left: 550px;
}

/*Все, что связано с названием ресторана ----------------------- */
#name div{
  position: absolute; 
  left: 45.5%;  /* все буквы собрать в одну точку по середине */
/*   float:left; */
  width: 0;  /* убрать отступ */
  font-style: italic;
  font-size: 120px;
  font-weight: bold;
  font-family: 'Philosopher'; 
}

#name {
  position: relative;
  width: 15%; 
  margin: 20% auto;
  padding-top: 13.2%; 
  border-radius: 100%;  
}

/* 7 букв «Mexi&Co» */
#name div:nth-of-type(-n+7) {
  bottom: 55%;
  padding-bottom: 60%;  /* от значения свойства зависит приближение текста к центру круга */
  transform-origin: 0% 180%;
}

#name div:nth-last-of-type(7) {transform: rotate(-35deg);}
#name div:nth-last-of-type(6) {transform: rotate(-20deg);}
#name div:nth-last-of-type(5) {transform: rotate(-11deg);}
#name div:nth-last-of-type(4) {transform: rotate(-2deg);}
#name div:nth-last-of-type(3) {transform: rotate(5deg);}
#name div:nth-last-of-type(2) {transform: rotate(17deg);}
#name div:nth-last-of-type(1) {transform: rotate(27deg);}

/* ----------------------------------- */

.contacts h2{ 
  float: right;
  margin-top: 10px;
  padding-right: 40px;
  font-size: 18px;
  text-align: right;
  color: white;
}

/* background для названия, логотипа и адреса*/
#main_image { 
  position: relative;
  z-index: 50;
  width: 100%; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.slide-intro {
  min-height: 740px;
  background: url(https://s20.postimg.org/vplbvee71/restaurant.jpg);
  background-attachment: fixed;
}

h3{
  font-size: 35px;
  color: #cc5533;
  font-family: 'Marck Script', cursive;
  text-align:center;
}

aside h3{
  margin-top: 34.2px;
  padding-bottom: 10px;
  border-bottom: 3px black dotted;
}

article {
  clear:both;
  padding: 1em;
  float: left;
  font-size: 20px;
  
  margin-top: 15px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #999;
}

article label {
  font-size: 20px;
  font-family: 'Helvetica';
}

#date-of-booking, #number, #result {
  margin-left: 10px;
  font-size: 18px;
  text-align:center;
  height: 25px;
}

#date-of-booking{
  border: 1px solid #adacac;
  transition: border linear 0.5s
}

#date-of-booking:focus {
  border-color: #cc5533;
  outline: 0;
}

#number{
  border: 1px solid #adacac;
  transition: border linear 0.5s;
}

#number:focus {
  border-color: #cc5533;
  outline: 0;
}

/* Checkbox - оформление ------------------------------- */
.checkbox {
  display: none; /* Скрывает реальный чекбокс */
}

/* Кастомный чекбокс */
.checkbox-custom {
    position: relative;  
    width: 20px;             
    height: 20px;     
    border: 1px solid #adacac;
    border-radius: 3px;
}

.checkbox-custom, .label {
    display: inline-block;
    vertical-align: middle;
    margin-top: -20px;
    margin-bottom: -20px;
}

.checkbox:checked + .checkbox-custom::before {
    content: "";             /* Добавляет псевдоэлемент */
    display: block;          /* Делает его блочным элементом */
    position: absolute;      
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #cc5533;     
    border-radius: 2px;
}
/* --------------------------------------------------- */

aside {
  float: right;
  padding: 1em;
  text-align:center;

  
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #999;
  }

.menu-items {
  clear:both;
  font-size: 20px;
}

.catalog-item {
  float:left;
  width:300px;
  margin-bottom: 40px;
  margin-right: 28px;
}

.catalog-item:nth-child(4n) {
  margin-right:0;
}

p {
  font-size: 30px;
  font-family: 'Marck Script', cursive;
}

.catalog-item-pic {
  position:relative;
}

.catalog-item-pic img {
  width: 300px;
  height: 200px;
}

.catalog-item-name {
  margin-bottom: 10px;
  font-size: 20px;
}

.price {
  margin-top: 5px;
  font-size: 25px;
  color:#cc5533;
}

.catalog-item .wt {
  display: inline;
  color: black;
  font-size: 20px;
}

.description {
  position:absolute;
  left:0;
  bottom:5px;
  right:0;
  top:0;
  background:rgba(0,0,0, 0.6);
  color:white;
  
  display:none;  
}

.description-text p {
  position:absolute;
  text-align:center;
  width: 250px;
  font-size: 18px;
  font-family: 'Helvetica';
  font-weight: 500;
  transform: translate(-50%, -50%);
  top: 40%; 
  left: 50%;
  
}

.catalog-item-pic:hover .description {
    display:block;
}
